{% extends "cards/base.html" %}

{% block content %}
<div class="features">
    {% if card.photo %}
    <p><img src="{{ card.photo.url }}"></p>
    {% endif %}

    <p>Слово: {{ card.title_native_language }}</p>
    <p>Перевод: {{ card.translate_studied_language }}</p>
    {% if card.usage_example %}
    <p>Пример применения: {{ card.usage_example }}</p>
    {% endif %}
    <a href="{% url 'category' card.category.slug %}"><li><button class="btn-warning">Вернуться к списку: {{ card.category }}</button></li></a>
    <br>
    <a href="{% url 'update_card' card.id %}"><li><button class="btn btn-info">Изменить карточку</button></li></a>
    <br>
    <a href="{% url 'delete_card' card.id %}"><li><button class="btn btn-danger">Удалить карточку</button></li></a>
</div>
{% endblock %}